body {
  background-color: cadetblue;
}
mapContainer {
  width: 70vw;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
}
#map {
  margin-top: 10px;
  margin-left: 5vw;
}

#buttons {
  display: grid;
}
#start {
  position: absolute;
  right: 100px;
  bottom: 200px;
  margin-top: 5px;
  width: 200px;
  height: 40px;
}
#quit {
  position: absolute;
  right: 100px;
  bottom: 150px;
  margin-top: 5px;
  width: 200px;
  height: 40px;
}
#guess {
  position: absolute;
  bottom: 100px;
  right: 100px;
  margin-top: 5px;
  width: 200px;
  height: 40px;
}
#modal {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 40vw;
  height: 40vh;
  text-align: center;
  float: right;
  display: inline;
  background-color: lightgray;
}

#closeModal {
  width: 200px;
  margin-top: 30px;
}

#countyList {
  width: 150px;
  margin-top: 30px;
}